/* Footer.css */

.footer {
    background-color: #6B4226;
    color: #FFFFFF;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-links {
    margin-bottom: 1rem;
}

.footer-link {
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #FFFFFF;
}

.icon {
    font-size: 2.5rem;
    color: #000000;


}

.footer-copyright {
    color: #FFFFFF;
    margin-top: 1rem;
}